<?xml version="1.0" encoding="UTF-8"?>
<!--spring bean容器/IOC容器配置文件-->
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:util="http://www.springframework.org/schema/util"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!--配置组件扫描基础包名-->
	<context:component-scan base-package="com.*.mapper,com.*.service"/>
	<!--开启注解配置-->
	<context:annotation-config/>
	<!--定义属性文件读取器-->
	<util:properties id="reader" location="classpath:mysql.properties"/>
	<!--定义数据源-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	    <property name="driverClass" value="#{reader[driver]}"/>
	    <property name="jdbcUrl" value="#{reader[url]}"/>
		<property name="user" value="#{reader[user]}"/>
		<property name="password" value="#{reader[password]}"/>
		<property name="initialPoolSize" value="5"/>
		<property name="maxPoolSize" value="10"/>
		<property name="minPoolSize" value="5"/>
		<property name="maxIdleTime" value="120"/>
	</bean>
	<!--配置mybatis映射接口的基础包名-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.newer.mapper"/>
	</bean>

	<!--定义SqlSessionFactory-->
     <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		  <!--数据源-->
	       <property name="dataSource" ref="dataSource"/>
		  <!--别名配置-->
		   <property name="typeAliasesPackage" value="com.newer.domain"/>

	 </bean>

    <!--事务管理器-->
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
           <property name="dataSource" ref="dataSource"/>
	</bean>

	<!--配置注解驱动事务-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
